/*ESTILOS GENERALES/*/

.navbar-nav {
    align-items: center;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin-bottom: 5px;
    width: 250px;
}

.navbar-collapse.show .navbar-nav {
    margin-bottom: 1em;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#contenedor {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* Cambia a 100vh para que ocupe la totalidad de la vista del viewport */
}

.nav-link {
    cursor: pointer;
}

@media (min-width: 992px) {
    .navbar-nav .nav-item {
        width: 100px;
        flex-grow: 0;
    }
}



/*ESTILOS DEL MODO CLARO*/

body {
    background-image: url(assets/banderas-claro.png);
    background-repeat: repeat;
    background-attachment: fixed;
    /*animation: scrollBackground 40s infinite;*/
}



#logo {
    width: 55px;
    transition: 0.2s;
}

#logo:hover {
    filter: brightness(0.7);
    transition: 0.2s;
}

#logo:active {
    filter: brightness(0.3);
}

#barra-menu {
    background-color: unset !important;
    -webkit-backdrop-filter: saturate(180%) blur(100px);
    backdrop-filter: saturate(180%) blur(40px);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100 !important;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: white !important;
}

.nav-item {
    background-color: #ffffff;
    text-align: center;
    width: 7em;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-left: 5px;
}

.nav-item:hover {
    color: white !important;
    background-color: #1875ff;
    border: none;
}

.navbar-toggler {
    outline: none !important;
}



/*ESTILOS DEL MODO OSCURO*/
@media (prefers-color-scheme: dark) {

    body {
        background-image: url(assets/banderas-oscuro.png);
        background-repeat: repeat;
        background-attachment: fixed;
        /*animation: scrollBackground 40s infinite;*/

    }

    @keyframes scrollBackground {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 100% 100%;
        }
    }

    #logo {
        width: 38px;
    }

    #barra-menu {
        background-color: unset !important;
        -webkit-backdrop-filter: saturate(180%) blur(100px);
        backdrop-filter: saturate(180%) blur(40px);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100 !important;
    }

    .nav-link {
        color: white !important;
    }

    .nav-link:hover {
        color: white !important;
    }

    .navbar-toggler-icon:hover {
        background-image: url(assets/menu-oscuro-hover.png) !important;
        transition: 0.2s;
        filter: brightness(0.5);
    }

    .navbar-toggler-icon:active {
        background-image: url(assets/menu-oscuro.png) !important;
        transition: 0.2s;
        filter: brightness(0.4);
    }

    .navbar-toggler-icon {
        background-image: url(assets/menu-oscuro-hover.png) !important;
        transition: 0.2s;
    }

    .navbar-toggler {
        background-color: #242424 !important;
        border: unset !important;
        outline: none !important;
    }

    .nav-item {
        background-color: #242424;
        opacity: 0.7;
        text-align: center;
        width: 7em;
        border: unset;
        border-radius: 4px;
        transition: background-color 0.3s;
        margin-left: 5px;
    }

    .nav-item:hover {
        color: white !important;
        background-color: #1875ff;
        border: none;
    }

}

@media (max-width: 370px) {

    #logo {
        width: 35px;
    }

    .navbar-toggler {
        width: 55px;
        height: 35px;
    }

    .navbar-toggler-icon:hover {
        background-image: url(assets/menu2.png) !important;
    }

    .navbar-toggler-icon:active {
        background-image: url(assets/menu2.png) !important;
    }

    .navbar-toggler-icon {
        background-image: url(assets/menu2.png) !important;
    }

}