/*ESTILOS GENERALES/*/

.show .navbar-nav {
    align-items: center;
    margin-bottom: 1em;
  
}
.show .navbar-nav .nav-item {
    margin-bottom: 5px;
    width: 250px;
}


/*ESTILOS DEL MODO CLARO*/

body {
    background-image: url(assets/banderas-claro.png);
    background-repeat: repeat;
    background-attachment: fixed;
    animation: scrollBackground 40s infinite;
}

@keyframes scrollBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 100%;
    }
}

#logo {
    width: 55px;
}

#barra-menu {
    background-color: unset !important;
    -webkit-backdrop-filter: saturate(180%) blur(100px);
    backdrop-filter: saturate(180%) blur(40px);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100 !important;
    /* Asegura que el menú esté por encima de otros elementos */
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: white !important;
}

.nav-item {
    background-color: #ffffff;
    text-align: center;
    width: 7em;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-left: 5px;
}

.nav-item:hover {
    color: white !important;
    background-color: #1875ff;
    border: none;
}


/*ESTILOS DEL MODO OSCURO*/
@media (prefers-color-scheme: dark) {

    body {
        background-image: url(assets/banderas-oscuro.png);
        background-repeat: repeat;
        background-attachment: fixed;
        animation: scrollBackground 40s infinite;
    }

    @keyframes scrollBackground {
        0% {
            background-position: 0 0;
        }

        100% {
            background-position: 100% 100%;
        }
    }

    #logo {
        width: 55px;
    }

    #barra-menu {
        background-color: unset !important;
        -webkit-backdrop-filter: saturate(180%) blur(100px);
        backdrop-filter: saturate(180%) blur(40px);
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.75);
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100 !important;
        /* Asegura que el menú esté por encima de otros elementos */
    }

    .nav-link {
        color: white !important;
    }

    .nav-link:hover {
        color: white !important;
    }

    .navbar-toggler-icon:hover {
        background-image: url(assets/menu-oscuro.png) !important;
        transition: 0.2s;
    }

    .navbar-toggler-icon:active {
        background-image: url(assets/menu-oscuro-hover.png) !important;
        transition: 0.2s;
    }

    .navbar-toggler-icon {
        background-image: url(assets/menu-oscuro-hover.png) !important;
        transition: 0.2s;
    }

    .navbar-toggler {
        background-color: #242424 !important;
        border: unset !important;
    }

    .nav-item {
        background-color: #242424;
        opacity: 0.7;
        text-align: center;
        width: 7em;
        border: unset;
        border-radius: 4px;
        transition: background-color 0.3s;
        margin-left: 5px;
    }

    .nav-item:hover {
        color: white !important;
        background-color: #1875ff;
        border: none;
    }

}