.juego {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #000000;
}

.tablero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s;
}

.fila {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.casilla {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    background-color: white;
    transition: background-color 1s;
}

.casilla.verde {
    background-color: #6ca965;
    color: #000000;
}

.casilla.amarillo {
    background-color: #c8b653;
    color: #000000;
}

.casilla.gris {
    background-color: #787c7f;
    color: #000000;
}

.casilla.activo {
    border: solid;
    border-color: rgb(0, 148, 246);
    border-width: 5px;
}


.teclado {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px;
    margin-top: 20px;
}

.botones {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #787c7f;
}

button:active {
    background-color: #363636;
    transition: none;
}

.ganador {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #008d0e;
}

button.verde {
    background-color: #6ca965;
}

button.amarillo {
    background-color: #c8b653;
}

button.gris {
    background-color: #787c7f;
}

#bComprobar {
    width: 150px;
    margin-right: 5px;
    font-size: 20px;
    font-weight: normal;
    color: white;
    background-color: rgb(0, 159, 29);
}

#bComprobar:hover {
    background-color: rgb(0, 87, 16);
}

#bBorrar {
    width: 150px;
    font-size: 20px;
    font-weight: normal;
    color: white;
    background-color: rgb(159, 0, 0);
}

#bBorrar:hover {
    background-color: rgb(87, 0, 0);
}

.tipo_juego {
    padding: 10px;
    margin: 10px;
    width: 90% !important;
}

.tipo_juego:active {
    background-color: rgb(0, 68, 147) !important;
}

h2 {
    color: black;
    margin-bottom: 30px;
    font-size: 35px;
}

.tiempo {
    font-size: 18px;
}


@media (prefers-color-scheme: dark) {
    h2 {
        color: white;
    }

    .tiempo {
        color: white;
    }

}

@media (max-width: 350px) {

    .casilla {
        width: 45px;
        height: 45px;
        margin: 2px;
    }

    button {
        padding: 1px;
    }

    #bBorrar {
        font-size: 18px !important;
        width: 130px;
    }

    #bComprobar {
        font-size: 18px !important;
        width: 130px;
    }

    h2 {
        font-size: 25px !important;
    }

    .tipo_juego {
        font-size: 16px;
        padding: 10px;
        margin: 10px;
        width: 60% !important;
    }

}

@media (max-width: 700px) {

    h2 {
        font-size: 24px;
    }

    .tipo_juego {
        font-size: 20px;
    }

}